/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Meie+Script&display=swap");

/* Google Fonts Classes */
.primary-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.meie-script-regular {
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
}
