/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Meie+Script&display=swap");

/* Google Fonts Classes */
.primary-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.meie-script-regular {
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Browser Resting Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Utility Classes Start Here */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

:root {
  --white-color: #fff;
  --light-color: rgba(255, 255, 255, 0.5);
  --secondary-color: #e6533c;
  --bg-primary: #000;
  --bg-secondary: #222;
}
.bg-primary {
  background-color: var(--bg-primary);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.container {
  max-width: 1060px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 16px 40px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
}
.btn-primary {
  background-color: var(--secondary-color);
}
.btn-border {
  border: 1px solid var(--white-color);
  background-color: transparent;
}
.text-center {
  text-align: center;
}
.section-title {
  color: var(--white-color);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
.description {
  color: var(--light-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.fixed-width-description {
  width: 671px;
}
/* Utility Classes End Here */
/* Header Section Styling Start Here */
#header {
  height: 715px;
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.9) 500%);
  overflow: hidden;
}
/* Navbar Styling Start Here */
#nav {
  margin-top: 57px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .brand {
  color: var(--secondary-color);
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
}
.nav-items {
  display: flex;
}
.nav-item {
  margin-right: 47px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--white-color);
  font-size: 18px;
  line-height: 120%;
  padding: 8px 20px;
  border-radius: 20px;
}
.active {
  background: var(--secondary-color);
}
.nav-link:hover {
  background: var(--secondary-color);
}
/* Navbar Styling End Here */
/* Showcase Section Styling Start Here */
.showcase-container {
  background: url(../images/Images\ 2.png) no-repeat bottom right;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  height: 580px;
  position: relative;
}
.showcase-text,
.showcase-info {
  width: 50%;
}
.showcase-text {
  margin-top: 64px;
}

.showcase-title {
  color: var(--white-color);
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.special {
  font-weight: 400;
}
.showcase-description {
  color: var(--light-color);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 28px 0px;
}
.showcase-button {
  display: flex;
  gap: 14px;
}
.info-box1,
.info-box2 {
  padding: 20px 24px;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  position: absolute;
}
.info-box1 {
  top: 125px;
  right: -75px;
}
.info-box1 h2 {
  color: var(--white-color);
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.info-box1 p,
.info-box2 p {
  color: var(--light-color);
  line-height: 24px;
  letter-spacing: 0.5px;
}
.info-box2 {
  background-color: rgba(48, 48, 48, 0.054);
  display: flex;
  gap: 12px;
  width: 210px;
  bottom: 60px;
  left: 55%;
}
.info-circle {
  height: 40px;
  width: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.info-box2-content h3 {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
}
/* Showcase Section Styling End Here */
/* Header Section Styling End Here */
/* Main Section Styling Start Here */
/* Habits Section Start Here */
#habits {
  padding: 100px 0px;
}
.habits-container {
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.habit-card-container {
  display: flex;
  justify-content: space-around;
}
.habit-description {
  margin: 0 auto;
}
.habit-card {
  width: calc(25% - 40px);
}
.card-habit-img-container {
  width: 100%;
}
.habit-card-img {
  width: 100%;
  border-radius: 50%;
}
.habit-card-title {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin: 30px 0px 6px;
}
.habit-card-description {
}
/* Run Part Styling Start Here */
.run-container {
  margin-top: 100px;
  padding: 30px 32px 30px 54px;
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
}
.run-text {
  width: 40%;
}
.run-desc {
  margin-bottom: 32px;
}
.run-img {
  width: 35%;
  overflow: hidden;
  border-radius: 18px;
}
.run-img img {
  width: 100%;
  border-radius: 18px;
  transform: scale(150%);
}
/* Run Part Styling End Here */
/* Habits Section End Here */
/* Trainings Section Styling Start Here */
#trainings {
  overflow: hidden;
}
.training-img-box {
  margin: 58px 0px 88px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 220px 220px;
}
.training-img-container-1 {
  background: url(../images/exercise1.jpg) no-repeat center center/cover;
  grid-column: 1/4;
  position: relative;
}
.training-img-container-2 {
  background: url(../images/exercise2.png) no-repeat center center/cover;
  grid-column: 4/10;
  position: relative;
}
.training-img-container-3 {
  background: url(../images/exercise3.png) no-repeat center center/cover;
  grid-column: 10/13;
  position: relative;
}
.training-img-container-4 {
  background: url(../images/exercise4.png) no-repeat center center/cover;
  grid-column: 1/6;
  position: relative;
}
.training-img-container-5 {
  background: url(../images/exercise5.jpg) no-repeat center center/cover;
  grid-column: 6/9;
  position: relative;
}
.training-img-container-6 {
  background: url(../images/exercise6.jpg) no-repeat center center/cover;
  grid-column: 9/13;
  position: relative;
}
.training-img-container-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #06ffd2;
  opacity: 50%;
}
.training-img-container-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ff0000;
  opacity: 30%;
}
.training-img-container-3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 50%;
}
.training-img-container-4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 50%;
}
.training-img-container-5::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #42ff00;
  opacity: 30%;
}
.training-img-container-6::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0047ff;
  opacity: 30%;
}
.training-img-caption {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
  position: absolute;
}
.training-img-container-1 > .training-img-caption {
  left: 20px;
  bottom: 25px;
}
.training-img-container-2 > .training-img-caption {
  left: 31px;
  top: 25px;
}
.training-img-container-3 > .training-img-caption {
  left: 20px;
  bottom: 25px;
}
.training-img-container-4 > .training-img-caption {
  right: 20px;
  top: 25px;
}
.training-img-container-5 > .training-img-caption,
.training-img-container-6 > .training-img-caption {
  left: 25px;
  bottom: 25px;
}
.bmi-text {
  margin: 0px auto 88px;
}
/* Trainings Section Styling End Here */
/* BMI Calculator Section Start Here */
#bmi-calculator {
  padding: 50px 0px;
}
.bmi-calculator-container {
  display: flex;
  justify-content: space-between;
}
.calculator-chart {
  width: 35%;
}
.calculate-bmi {
  width: 55%;
}
.calculator-chart-title,
.calculate-bmi-title {
  color: var(--white-color);
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
}
.calculate-bmi-title {
  margin-bottom: 14px;
}
.calculator-chart table {
  margin-top: 50px;
}
.calculator-chart table,
.calculator-chart table th,
.calculator-chart table tr,
.calculator-chart table tr td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 16px 20px;
}
.calculator-chart table th {
  color: var(--white-color);
  font-weight: 500;
  line-height: 120%;
  text-align: start;
}
.calculator-chart table tr td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 120%;
}
.calculate-bmi-input-container {
  margin: 34px 0px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 12px;
}
.form-group {
  width: calc(50% - 10px);
}
.form-group:last-child {
  width: 100%;
}
.form-group input,
.form-group select {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  line-height: 22px;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
}
.form-group > select > option {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
}
/* BMI Calculator Section End Here */
/* Main Section Styling End Here */
