/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Meie+Script&display=swap");

/* Google Fonts Classes */
.primary-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.meie-script-regular {
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Browser Resting Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Utility Classes Start Here */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

:root {
  --white-color: #fff;
  --light-color: rgba(255, 255, 255, 0.5);
  --secondary-color: #e6533c;
  --bg-primary: #111;
}
.container {
  max-width: 1060px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 16px 40px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
}
.btn-primary {
  background-color: var(--secondary-color);
}
.btn-border {
  border: 1px solid var(--white-color);
  background-color: transparent;
}
.text-center {
  text-align: center;
}
.section-title {
  color: var(--white-color);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
.description {
  color: var(--light-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.fixed-width-description {
  width: 671px;
  margin: 0 auto;
}
/* Utility Classes End Here */
/* Header Section Styling Start Here */
#header {
  height: 715px;
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.9) 500%);
  overflow: hidden;
}
/* Navbar Styling Start Here */
#nav {
  margin-top: 57px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .brand {
  color: var(--secondary-color);
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
}
.nav-items {
  display: flex;
}
.nav-item {
  margin-right: 47px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--white-color);
  font-size: 18px;
  line-height: 120%;
  padding: 8px 20px;
  border-radius: 20px;
}
.active {
  background: var(--secondary-color);
}
.nav-link:hover {
  background: var(--secondary-color);
}
/* Navbar Styling End Here */
/* Showcase Section Styling Start Here */
.showcase-container {
  background: url(../images/Images\ 2.png) no-repeat bottom right;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  height: 580px;
  position: relative;
}
.showcase-text,
.showcase-info {
  width: 50%;
}
.showcase-text {
  margin-top: 64px;
}

.showcase-title {
  color: var(--white-color);
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.special {
  font-weight: 400;
}
.showcase-description {
  color: var(--light-color);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 28px 0px;
}
.showcase-button {
  display: flex;
  gap: 14px;
}
.info-box1,
.info-box2 {
  padding: 20px 24px;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  position: absolute;
}
.info-box1 {
  top: 125px;
  right: -75px;
}
.info-box1 h2 {
  color: var(--white-color);
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.info-box1 p,
.info-box2 p {
  color: var(--light-color);
  line-height: 24px;
  letter-spacing: 0.5px;
}
.info-box2 {
  background-color: rgba(48, 48, 48, 0.054);
  display: flex;
  gap: 12px;
  width: 210px;
  bottom: 60px;
  left: 55%;
}
.info-circle {
  height: 40px;
  width: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.info-box2-content h3 {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
}
/* Showcase Section Styling End Here */
/* Header Section Styling End Here */
/* Main Section Styling Start Here */
/* Habits Section Start Here */
#habits {
  background-color: var(--bg-primary);
  padding: 100px 0px;
}
.habits-container {
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.habit-card-container {
  display: flex;
  justify-content: space-around;
}
.habit-card {
  width: calc(25% - 40px);
}
.card-habit-img-container {
  width: 100%;
}
.habit-card-img {
  width: 100%;
  border-radius: 50%;
}
.habit-card-title {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin: 30px 0px 6px;
}
.habit-card-description {
}
/* Habits Section End Here */
/* Main Section Styling End Here */
